version: 2
updates:
  - package-ecosystem: 'github-actions'
    directory: '/'
    schedule:
      interval: 'weekly'
  - package-ecosystem: npm
    directory: '/'
    schedule:
      interval: 'weekly'
    groups:
      development:
        dependency-type: development
        update-types:
          - 'minor'
          - 'patch'
        exclude-patterns:
          - '@solana/web3.js'
          - 'chainfile-*'
          - '@chainfile/*'
