# MacOS
.DS_Store

# NodeJS
node_modules
dist
build
*.tgz
coverage
.nyc_output

# turborepo
.turbo

# contented
.contented

# tsconfig.json
packages/*/**/*.d.ts
packages/*/**/*.d.ts.map
packages/*/**/*.js